.additionalDetails {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background: #f4ece0;

  h2 {
    text-align: center;
    margin-bottom: 2rem;
  }
}

.detailsCard {
  padding: 2rem;
  margin-bottom: 2rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  h3 {
    margin-bottom: 1rem;
  }

  p {
    line-height: 1.6;
  }
}
