$primary: #f4ece0;
$primary-800: #b8aba4;

.heroSection {
  background: $primary;
  position: relative;
  padding-bottom: 6rem;
  padding-top: 2rem;

  .logoWrapper {
    text-align: center;
  }

  h1 {
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 6rem;
    font-family: 'Sacramento', cursive;
    font-weight: 300;
  }
}

.bookingSection {
  padding: 5rem;
  text-align: center;

  .babyImgWrapper {
    position: relative;

    .babyImg {
      width: 100%;
      max-width: 800px;
      margin: auto;
      height: auto;
      opacity: 0.5;
      display: block;
    }

    .bookBtnWrapper {
      width: 100%;
      text-align: center;
      position: absolute;
      bottom: 0;
      transform: translateY(50%);

      .bookBtn {
        font-family: 'Sacramento', cursive;
        background: $primary-800;
        border: none;
        font-size: 2.5rem;
        padding: 0.6rem 2rem;
        border-radius: 9999px;
        cursor: pointer;

        &:hover {
          filter: brightness(1.2);
        }
      }
    }
  }
}

.lactationServicesSection {
  background: $primary;
  padding-top: 3rem;
  padding-bottom: 3rem;

  .lactationServicesContainer {
    max-width: 800px;
    margin: auto;
    text-align: center;

    h2 {
      margin-bottom: 2rem;
    }

    ul {
      list-style: none;

      li {
        font-size: 1.2rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
      }
    }
  }
}

.aboutSection {
  padding-top: 5rem;
  padding-bottom: 6rem;

  .aboutContainer {
    max-width: 800px;
    margin: auto;
  }

  h2 {
    text-align: center;
    background: #fae7dc;
    padding: 1rem;
  }

  p {
    line-height: 1.5;
    padding: 15px;
  }

  .beccaContainer {
    display: flex;

    p {
      padding-top: 0px;
    }

    .becca {
      height: auto;
      max-width: 300px;
    }
  }
}

.ourServicesSection {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background: $primary;

  .ourServices {
    max-width: 800px;
    margin: auto;
    text-align: center;
    min-height: 700px;
    padding-top: 1rem;
    padding-bottom: 1rem;

    h2 {
      margin-bottom: 2rem;
    }

    .babyCard {
      position: relative;
      margin-bottom: 1rem;

      img {
        width: 100%;
        filter: brightness(0.8);
      }

      .titleWrapper {
        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        cursor: pointer;

        h4 {
          position: absolute;
          color: white;
          font-weight: 100;
          font-size: 3rem;
        }
      }
    }
  }
}
