$primary: #f4ece0;
$primary-800: #b8aba4;

.heroSection {
  background: $primary;
  position: relative;
  padding-bottom: 6rem;
  padding-top: 2rem;

  .logoWrapper {
    text-align: center;
  }
}

h1 {
  position: absolute;
  text-align: center;
  width: 100%;
  font-size: 6rem;
  font-weight: 300;
}

@media (max-width: 800px) {
  .heroSection {
    padding-bottom: 4rem;

    .logo {
      width: 200px;
      height: auto;
    }
  }

  h1 {
    font-size: 4rem;
  }
}

@media (max-width: 520px) {
  .heroSection {
    padding-bottom: 3rem;
  }

  h1 {
    font-size: 3rem;
  }
}
